﻿@using Syncfusion.Blazor.Inputs 
<div class="row pt-5">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-body">
                <div class="col-12 text-center">
                    <h2>Bienvenido</h2>
                </div>
                <div class="text-center">
                    <img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C560BAQGl9ozTWu-MuA/company-logo_200_200/0?e=2159024400&v=beta&t=F7x4fkGenESdlSG2mYhfAma_MRo9pMEmbIEP8q-dRk8"/>
                </div>
                <div class="col-12">
                    <EditForm Model="@ModelLogin" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <div class="form-group">
                            <SfTextBox CssClass="e-outline obligatorio" Placeholder="Nombre de Usuario" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@ModelLogin.userName"></SfTextBox>
                            <ValidationMessage For="@(() => ModelLogin.userName)" />
                        </div>
                        <div class="form-group">
                            <SfTextBox CssClass="e-outline obligatorio" Placeholder="Contraseña" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@ModelLogin.pass"></SfTextBox>
                            <ValidationMessage For="@(() => ModelLogin.pass)" />
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">Entrar</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>
