﻿

<div class="row border-bottom">
    <div class="col-md-8 offset-md-2">
        <img src="/images/usuario_a.png" alt="user-img" class="img-circle img-fluid">
    </div>
    <div class="col-12 text-center">
        <h3 class="usuario p-b-0 m-b-0" style="color:#fff; font-family:' Raleway', sans-serif;">"GARCIA MARCHANTE ALBERTO"</h3>

        <small>
            <span class="rol">Comercial</span>
        </small><br>

    </div>
</div>


