@page "/fetchdata"
@using dSBLCG.Shared
@inject HttpClient Http
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>


}

//____________________________

<SfGrid DataSource="@forecasts" AllowPaging="true" AllowSorting="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
    @*<GridEvents CellSaved="OnCellSaved" CommandClicked="OnCommandClicked" TValue="WeatherForecast"></GridEvents>*@

    <GridColumns>
        <GridColumn Field="@nameof(WeatherForecast.Summary)" HeaderText="Usuario" TextAlign="TextAlign.Left" Width="80"></GridColumn>
        <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" HeaderText="CIF" Width="100"></GridColumn>
        <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" HeaderText="Nombre Cliente" TextAlign="TextAlign.Left" Width="250"></GridColumn>

    </GridColumns>
</SfGrid>


<div class="row">
    <div class="col-12">
        <SfGrid DataSource="@forecasts" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowPaging="true">
            <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
            <GridColumns>
                <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Order ID" IsPrimaryKey="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                
                <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="Freight" ValidationRules="@(new ValidationRules{ Required=true, Range = new double[]{1, 1000}})" EditType="EditType.NumericEdit" Format="C2" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="Order Date" EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                
            </GridColumns>
        </SfGrid>
    </div>
</div>





@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
    public void OnCommandClicked(CommandClickEventArgs<WeatherForecast> args)
    {
    }
    public void OnCellSaved(CellSaveArgs<WeatherForecast> args)
    {

    }
}
